<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"  xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd" default-lazy-init="true">
    <!-- 主要用于获取applicationContext -->
    <bean id="beanUtils" lazy-init="false" class="cn.edu.hdu.webbf.util.BeanUtil" />
    
    <!-- 启用注解 -->
    <context:annotation-config />
    
    <!-- 启动组件扫描，排除@Controller组件，该组件由SpringMVC配置文件扫描 -->
    <context:component-scan base-package="cn.edu.hdu.webbf">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
        <!-- 防止重复 -->
        <context:exclude-filter type="annotation" expression="org.springframework.cache.annotation.EnableCaching" />
    </context:component-scan>
    
    <context:property-placeholder location="classpath:config.properties" />

    <!-- CAS配置相关 -->
    <!--<import resource="cas.xml" />-->
    
    <import resource="dao.xml" />
    <import resource="transaction.xml" />
    <import resource="quartz.xml" />
    
    
    <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">  
        <property name="host" value="smtp.qq.com"></property>  
        <property name="port" value="25"></property>  
        <property name="username" value="928651551@qq.com"></property>  
        <property name="password" value="your email password"></property>  
        <property name="defaultEncoding" value="UTF-8"></property>  
        <property name="javaMailProperties">  
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <!-- true for Gamil 
                <prop key="mail.smtp.starttls.enable">false</prop>
                <prop key="mail.debug">true</prop>-->
            </props> 
        </property>
    </bean> 
    
    <bean id="freeMarkerConfiguration" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
	   <property name="templateLoaderPath" value="classpath:emailtemplates" />
	</bean>
    
</beans>